.float-right {
  float: right;
}
.float-left {
  float: left;
}
.ml-15 {
  margin-left: 15px;
}
.display-block {
  display: block;
}
.display-none {
  display: none;
}
.p-15 {
  padding: 15px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
}

.home-top {
  background: lightgray;
  padding: 15px;
  .search-wrap {
    display: flex;
    margin-bottom: 10px;
    button {
      margin-left: 10px;
    }
  }
  .logout-link {
    color: white;
  }
}

.login-row {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .login-form-wrap {
    width: 100%;
    max-width: 600px;
    .login-col, .login-footer {
      padding-left: 15px;
      padding-right: 15px;
    }
    .login-footer {
      text-align: right;
    }
  }
}